In [2]:
# Data cleaning 
# Data Visualization
import pandas as pd

In [7]:
adolescent = pd.read_csv("adolescent-birth-rate.csv")
adolescent.head(10)

,"Countries, territories and areas",Year,Adolescent birth rate (per 1000 women)
0,Afghanistan,2017,62
1,Afghanistan,2014,77.2 0.2
2,Afghanistan,2013,87 0.9
3,Afghanistan,2011,2.2
4,Afghanistan,2009,80 0.8
5,Afghanistan,2008,90 1.4
6,Afghanistan,2007,103
7,Afghanistan,2006,126.2 4.3
8,Afghanistan,2005,117.4 8.2
9,Afghanistan,2004,135.7

In [8]:
antenatal = pd.read_csv("antenatal-care-coverage.csv")
antenatal.head(10)

,"Countries, territories and areas",Year,Antenatal care coverage - at least four visits (%)
0,Afghanistan,2016-2018,20.9
1,Afghanistan,2011-2017,16.3
2,Afghanistan,2010-2015,17.8
3,Afghanistan,2009-2014,22.7
4,Afghanistan,2006-2012,9.9
5,Afghanistan,2008-2011,14.6
6,Afghanistan,2005-2010,16.1
7,Albania,2012-2013,77.8
8,Albania,2003-2009,66.8
9,Albania,1997-2002,41.1

In [10]:
birth_attended = pd.read_csv("births-attended-by-skilled-health-personnel.csv")
birth_attended.head(10)

,"Countries, territories and areas",Year,Births attended by skilled health personnel (%)
0,Afghanistan,2019-2020,61.8
1,Afghanistan,2018,58.8
2,Afghanistan,2016-2017,53.4
3,Afghanistan,2015,50.5
4,Afghanistan,2013-2014,45.2
5,Afghanistan,2011-2012,39.9
6,Afghanistan,2010-2011,38.6
7,Afghanistan,2010,34.3
8,Afghanistan,2003,14.3
9,Albania,2017-2018,99.8

In [11]:
caesarean = pd.read_csv("births-by-caesarean-section.csv")
caesarean.head(10)

  Countries, territories and areas       Year Births by caesarean section (%)
0                      Afghanistan  2010-2015                             2.7
1                          Albania       2013                            34.1
2                          Algeria  2010-2013                            16.0
3                           Angola  2010-2016                             3.7
4                        Argentina       2011                            29.1
5                          Armenia  2010-2016                            18.0
6                        Australia       2015                            33.3
7                          Austria       2016                            29.5
8                       Azerbaijan       2015                            27.6
9                          Bahrain       2015                            28.0

In [12]:
family_planning = pd.read_csv("Family planning needs satisfied.csv")
family_planning.head(10)

,"Countries, territories and areas",Year,"Women of reproductive age (15âˆ’49 years) who are married or in-union who have their need for family planning satisfied with modern methods (%), UNPD",Women of reproductive age (aged 15-49 years) who have their need for family planning satisfied with modern methods (%)
0,Afghanistan,2020,45.6,NaN
1,Afghanistan,2019,44.6,NaN
2,Afghanistan,2018,43.6,NaN
3,Afghanistan,2017,42.8,NaN
4,Afghanistan,2016,42.0,NaN
5,Afghanistan,2015-2016,NaN,42.2
6,Afghanistan,2015,40.8,NaN
7,Afghanistan,2014,39.2,NaN
8,Afghanistan,2013,37.8,NaN
9,Afghanistan,2012,36.8,NaN

In [15]:
institutional_births = pd.read_csv("institutional-births.csv")
institutional_births.head(10)

,"Countries, territories and areas",Year,Institutional Births (birth taken place in a facility) (%)
0,Afghanistan,2016-2018,56.3
1,Afghanistan,2011-2017,50.5
2,Afghanistan,2010-2015,48.1
3,Afghanistan,2008-2014,42.8
4,Afghanistan,2006-2012,36.0
5,Afghanistan,2008-2010,32.9
6,Afghanistan,2005-2010,32.4
7,Afghanistan,2001-2003,12.9
8,Albania,2012-2013,98.6
9,Albania,2003-2009,96.7

In [16]:
stillbirth = pd.read_csv("stillbirth-rate.csv")
stillbirth.head(10)

,Unnamed: 0,Stillbirth rate (per 1000 total births),Stillbirth rate (per 1000 total births).1,Stillbirth rate (per 1000 total births).2,Stillbirth rate (per 1000 total births).3,Stillbirth rate (per 1000 total births).4,Stillbirth rate (per 1000 total births).5,Stillbirth rate (per 1000 total births).6,Stillbirth rate (per 1000 total births).7,Stillbirth rate (per 1000 total births).8,...,Stillbirth rate (per 1000 total births).12,Stillbirth rate (per 1000 total births).13,Stillbirth rate (per 1000 total births).14,Stillbirth rate (per 1000 total births).15,Stillbirth rate (per 1000 total births).16,Stillbirth rate (per 1000 total births).17,Stillbirth rate (per 1000 total births).18,Stillbirth rate (per 1000 total births).19,Stillbirth rate (per 1000 total births).20,Stillbirth rate (per 1000 total births).21
0,"Countries, territories and areas",2021,2020,2019,2018,2017,2016,2015,2014,2013,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
1,Afghanistan,25.68 [15.31-43.48],26.19 [15.74-43.38],26.74 [16.2-43.57],27.19 [16.61-44.36],27.65 [16.94-45.32],28.05 [17.29-45.47],28.48 [17.71-45.66],29.01 [17.97-46.64],29.44 [18.38-47.07],...,31.35 [19.69-50.64],31.84 [19.89-51.25],32.4 [20.2-52.27],32.86 [20.37-53.14],33.32 [20.49-54.26],33.74 [20.55-55.5],34.14 [20.72-56.46],34.58 [20.65-57.42],34.92 [20.69-58.54],35.38 [20.77-59.37]
2,Albania,4.34 [3.25-5.72],4.34 [3.32-5.59],4.28 [3.38-5.41],4.2 [3.4-5.16],4.11 [3.43-4.94],4.04 [3.44-4.76],4.04 [3.47-4.69],4.1 [3.55-4.7],4.19 [3.66-4.79],...,4.82 [4.09-5.67],5.18 [4.26-6.29],5.54 [4.42-6.95],5.86 [4.58-7.51],6.13 [4.68-8.08],6.31 [4.73-8.51],6.48 [4.77-8.88],6.66 [4.81-9.3],6.86 [4.88-9.75],7.06 [4.91-10.2]
3,Algeria,9.82 [8.11-11.9],9.92 [8.48-11.63],9.98 [8.83-11.3],10.08 [9.1-11.21],10.27 [9.36-11.32],10.59 [9.64-11.64],11.08 [10.07-12.19],11.65 [10.6-12.79],12.28 [11.19-13.44],...,14.99 [13.64-16.48],15.78 [14.38-17.29],16.62 [15.11-18.24],17.47 [15.86-19.2],18.36 [16.69-20.15],19.21 [17.46-21.08],19.84 [18.06-21.87],20.22 [18.31-22.28],20.29 [18.23-22.51],20.34 [17.94-23.06]
4,Andorra,2.29 [1.58-3.33],2.34 [1.64-3.34],2.39 [1.68-3.37],2.43 [1.74-3.4],2.47 [1.77-3.42],2.53 [1.82-3.47],2.57 [1.88-3.5],2.62 [1.94-3.54],2.68 [2-3.61],...,2.9 [2.16-3.88],2.96 [2.21-3.95],3.05 [2.27-4.09],3.15 [2.31-4.26],3.24 [2.38-4.42],3.34 [2.42-4.61],3.42 [2.45-4.75],3.52 [2.48-4.95],3.62 [2.55-5.2],3.73 [2.59-5.42]
5,Angola,19.3 [11.7-31.76],19.44 [11.89-31.64],19.49 [12.09-31.62],19.64 [12.24-31.5],19.76 [12.36-31.38],20.03 [12.56-31.59],20.19 [12.82-31.86],20.56 [13.11-32.55],21.01 [13.46-33.06],...,23.11 [14.71-36.26],23.72 [15.15-36.98],24.32 [15.57-38.21],25.02 [16.02-39.69],25.66 [16.34-40.84],26.31 [16.56-42],26.93 [16.61-43.03],27.38 [16.76-44.53],27.83 [16.92-45.62],28.13 [16.93-46.47]
6,Antigua and Barbuda,5.16 [3.08-8.54],5.26 [3.17-8.61],5.36 [3.26-8.69],5.47 [3.39-8.84],5.58 [3.45-9],5.72 [3.6-9.07],5.83 [3.68-9.22],5.99 [3.82-9.4],6.16 [3.91-9.64],...,7.1 [4.58-11.12],7.4 [4.76-11.54],7.64 [4.94-12.02],7.9 [5.04-12.48],8.16 [5.19-12.96],8.37 [5.26-13.32],8.55 [5.36-13.65],8.71 [5.39-14.07],8.8 [5.38-14.39],8.92 [5.37-14.68]
7,Argentina,4.3 [3.71-5],4.55 [4.11-5.03],4.89 [4.67-5.12],5.26 [5.06-5.47],5.26 [5.06-5.47],5.21 [5.02-5.42],5.07 [4.88-5.28],5.2 [5.01-5.41],5.19 [5-5.4],...,5.25 [5.04-5.45],5.39 [5.18-5.59],5.52 [5.31-5.74],5.65 [5.44-5.87],5.84 [5.62-6.07],6.25 [6.02-6.49],6.86 [6.61-7.12],7.31 [7.05-7.59],7.58 [7.3-7.87],7.83 [7.5-8.17]
8,Armenia,10.82 [9.56-12.22],11.23 [10.13-12.44],11.94 [10.87-13.15],12.65 [11.56-13.88],13.1 [11.96-14.35],13.46 [12.28-14.8],13.71 [12.47-15.04],13.8 [12.62-15.13],13.94 [12.72-15.29],...,14.99 [12.8-17.47],15.34 [12.67-18.43],15.84 [12.71-19.57],16.42 [12.93-20.89],17.04 [13.11-22.12],17.64 [13.29-23.3],18.29 [13.41-24.78],18.95 [13.64-26.1],19.57 [13.89-27.62],20.23 [14.15-29.02]
9,Australia,2.39 [2.13-2.68],2.43 [2.28-2.59],2.51 [2.41-2.63],2.51 [2.39-2.65],2.56 [2.43-2.7],2.54 [2.41-2.68],2.62 [2.49-2.76],2.73 [2.6-2.88],2.79 [2.65-2.93],...,3.1 [2.89-3.32],3.09 [2.91-3.27],3.07 [2.91-3.23],3.13 [2.97-3.3],3.17 [3.01-3.35],3.23 [3.06-3.41],3.27 [3.11-3.45],3.29 [3.12-3.47],3.45 [3.27-3.64],3.68 [3.45-3.91]

In [17]:
married = pd.read_csv("Women married or in a union before age 15 and 18.csv")
married.head(10)

,Unnamed: 0,Proportion of women aged 20-24 years who were married or in a union by age 15 (%),Proportion of women aged 20-24 years who were married or in a union by age 18 (%)
0,"Countries, territories and areas",2010-2017,2010-2017
1,Afghanistan,9,35
2,Albania,0,10
3,Algeria,0,3
4,Angola,8,30
5,Armenia,0,5
6,Azerbaijan,2,11
7,Bangladesh,22,59
8,Barbados,1,11
9,Belarus,0,3

In [19]:
output1 = pd.read_csv("birth-asphyxia-and-birth-trauma.csv")
output1.head(10)

,Unnamed: 0,2017,2017.1,2017.2,2016,2016.1,2016.2,2015,2015.1,2015.2,...,2003.2,2002,2002.1,2002.2,2001,2001.1,2001.2,2000,2000.1,2000.2
0,NaN,"Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause",...,"Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause","Deaths in children aged <5 years, by cause"
1,NaN,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,...,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma,Birth asphyxia and birth trauma
2,"Countries, territories and areas",0-27 days,1-59 months,0-4 years,0-27 days,1-59 months,0-4 years,0-27 days,1-59 months,0-4 years,...,0-4 years,0-27 days,1-59 months,0-4 years,0-27 days,1-59 months,0-4 years,0-27 days,1-59 months,0-4 years
3,Afghanistan,11876,503,12379,12154,525,12679,12531,540,13071,...,18209,16790,642,17433,16165,639,16804,15646,628,16274
4,Albania,25,1,27,25,2,27,25,2,27,...,56,59,4,62,65,4,69,72,4,76
5,Algeria,3075,139,3214,3197,140,3337,3311,141,3453,...,2964,2824,115,2940,2815,120,2935,2837,127,2964
6,Andorra,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Angola,11557,1565,13121,11594,1605,13198,11546,1656,13202,...,15403,13180,2076,15256,13122,2008,15130,13047,2020,15067
8,Antigua and Barbuda,1,0,1,1,0,1,1,0,1,...,2,1,1,2,3,1,4,4,1,5
9,Argentina,322,33,355,342,31,372,366,43,409,...,674,727,53,780,676,50,727,765,81,846

In [ ]:
output1 = pd.read_csv("birth-asphyxia-and-birth-trauma.csv")
output1.head(10)

prematurity.csv