In [169]:
# Data cleaning 
# Data Visualization
import pandas as pd

In [179]:
adolescent = pd.read_csv("adolescent-birth-rate.csv")
adolescent['Year'] = adolescent['Year'].astype(str)
adolescent.head(15)

,"Countries, territories and areas",Year,Adolescent birth rate (per 1000 women)
0,Afghanistan,2017,62
1,Afghanistan,2014,77.2 0.2
2,Afghanistan,2013,87 0.9
3,Afghanistan,2011,2.2
4,Afghanistan,2009,80 0.8
5,Afghanistan,2008,90 1.4
6,Afghanistan,2007,103
7,Afghanistan,2006,126.2 4.3
8,Afghanistan,2005,117.4 8.2
9,Afghanistan,2004,135.7
10,Afghanistan,2003,151.8 8.1
11,Afghanistan,2002,177.6 12.3
12,Afghanistan,2001,167.2
13,Albania,2019,14.2 0.3
14,Albania,2018,14.3 0.3

In [180]:
def split(df):
    df["Year"] = df.Year.map(lambda s: s.split("-"))   # convert year range into list
    df_split = df.explode("Year")  # explode lists into multiple rows
    df_split.head()
    return df_split

In [181]:
birth_attended = pd.read_csv("births-attended-by-skilled-health-personnel.csv")
birth_attended.head(10)
birth_attended1= split(birth_attended)
# birth_attended1.dtypes

In [182]:
merged_df1 = pd.merge(adolescent, birth_attended1, on=['Year', 'Countries, territories and areas'])
merged_df1.head()

,"Countries, territories and areas",Year,Adolescent birth rate (per 1000 women),Births attended by skilled health personnel (%)
0,Afghanistan,2017,62,53.4
1,Afghanistan,2014,77.2 0.2,45.2
2,Afghanistan,2013,87 0.9,45.2
3,Afghanistan,2011,2.2,39.9
4,Afghanistan,2011,2.2,38.6

In [200]:
family_planning = pd.read_csv("Family planning needs satisfied.csv")
family_planning.head(10)
family_planning1= split(family_planning)
family_planning1['Women of reproductive age (aged 15-49 years) who have their need for family planning satisfied with modern methods (%)'] = family_planning1['Women of reproductive age (15âˆ’49 years) who are married or in-union who have their need for family planning satisfied with modern methods (%), UNPD'].combine_first(family_planning1['Women of reproductive age (aged 15-49 years) who have their need for family planning satisfied with modern methods (%)'])
family_planning1.drop('Women of reproductive age (15âˆ’49 years) who are married or in-union who have their need for family planning satisfied with modern methods (%), UNPD',axis=1, inplace=True)

In [201]:
merged_df = pd.merge(family_planning1, merged_df1, on=['Year', 'Countries, territories and areas'])
merged_df.head(20)

,"Countries, territories and areas",Year,Women of reproductive age (aged 15-49 years) who have their need for family planning satisfied with modern methods (%),Adolescent birth rate (per 1000 women),Births attended by skilled health personnel (%)
0,Afghanistan,2017,42.8,62,53.4
1,Afghanistan,2014,39.2,77.2 0.2,45.2
2,Afghanistan,2013,37.8,87 0.9,45.2
3,Afghanistan,2011,37.0,2.2,39.9
4,Afghanistan,2011,37.0,2.2,38.6
5,Afghanistan,2003,27.7,151.8 8.1,14.3
6,Albania,2018,7.7,14.3 0.3,99.8
7,Albania,2018,6.3,14.3 0.3,99.8
8,Albania,2017,6.3,15.9 0.2,99.8
9,Albania,2017,7.5,15.9 0.2,99.8
10,Albania,2009,15.9,19 0,99.3
11,Albania,2009,13.9,19 0,99.3
12,Albania,2008,13.9,18.4 0,99.3
13,Albania,2008,17.0,18.4 0,99.3
14,Albania,2005,19.2,20.2 1.1,99.8
15,Albania,2002,16.8,0,98.0
16,Albania,2000,17.1,0,99.1
17,Algeria,2013,73.7,12.4,96.6
18,Algeria,2013,77.2,12.4,96.6
19,Algeria,2012,77.2,11.8,96.6

In [216]:



stillbirth = pd.read_csv("stillbirth-rate.csv")
stillbirth.head(10)
# melted = stillbirth.melt(id_vars=["Countries, territories and areas"], var_name="Year", value_name="StillBirthRate")# melted.head(10)
melted = stillbirth.melt(id_vars=["Countries, territories and areas"], var_name="Year", value_name="StillBirthRate")
# melted["StillBirthRate"] = melted.StillBirthRate.map(lambda s: float(s.split(" ")[0]))
melted.head(10)

KeyError: "The following 'id_vars' are not present in the DataFrame: ['Countries, territories and areas']"